body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #40376e;
}
.genericButton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
[id="toggle-heart"] {
  position: absolute;
  left: -100vw;
}
[for="toggle-heart"] {
  color: #aab8c2;
}

[id="toggle-heart"]:checked + label {
  color: #e2264d;
}
[for="toggle-heart"] {
  font-size: 2em;
  cursor: pointer;
}
.vertical-center {
  height: 100%; /* Fallback for browsers do NOT support vh unit */
  height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
.userPicture {
  height: 200px;
  width: 200px;
}
