<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
<nav class="navbar navbar-light bg-light fixed-top col-sm-12">
  <a class="navbar-brand" href="#">
    <img
      src="../images/twitter.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Bird Bird 鸟< /a
  >
  <div class="my-auto"><a href="#">Sign Out</a></div>
</nav>
<div
  class="container col-sm-8"
  style="background:white;min-height:100vh;padding-top: 4vh"
  ng-controller="addCommentCtrl"
>
  <form ng-submit="save()">
    <div class="form-group">
      <textarea
        ng-model="comment.content"
        class="form-control"
        rows="3"
        placeholder="Compose new Comment...."
      ></textarea>
    </div>
    <div class="text-center" style="margin:20px;">
      <button type="submit" class="btn btn-primary w-50">Tweet</button>
    </div>
  </form>
  <a href="/#!home">Back</a>
</div>
