<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
<nav class="navbar navbar-light bg-light fixed-top col-sm-12">
  <a class="navbar-brand" href="#">
    <img
      src="../images/twitter.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    BootLeg Twitter</a
  >
  <div class="my-auto"><a href="#">Sign Out</a></div>
</nav>
<div
  class="container"
  style="background:white;min-height:100vh"
  ng-init="loginCtrl"
>
  <div class="row ">
    <div class="col-4  text-center justify-content-center align-items-center">
      <object data="../images/lavar.jpg" class="userPicture" type="image/png/">
        <img class=" userPicture" src="../images/youngLonzo.jpg" />
      </object>
      <br />
      <h5 class="font-weight-bold">@{{ username }}</h5>
      <br />
      <a class="btn  btn-outline-primary w-50  rounded-pill" ng-click="goHome()"
        >Home</a
      >
      <a
        class="btn  btn-outline-primary w-50 rounded-pill"
        href="/#!add-comment"
        style="margin:20px;"
        >Post</a
      >
      <a
        class="btn  btn-outline-primary w-50  rounded-pill"
        href="/#!view-notfications/{{ username }}"
        >Notification</a
      >
    </div>
    <div class="col-8">
      <div class="row card-group" ng-controller="viewProfileCtrl">
        <div
          class="card text-center border-primary col-sm-4"
          style="margin-bottom:20px;"
          ng-repeat="user in users"
        >
          <div class="card-img-top cardPictureSize">
            <img
              class="card-img-top offset-3 img-thumbnail"
              src="../images/defaultUserImage.png"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <div class="col ">
              <a
                class="btn w-100 padding rounded-pill btn-outline-primary"
                ng-click="viewUser(user.username)"
                >View Profile</a
              >
              <button
                class="btn padding w-100 rounded-pill btn-outline-primary"
                ng-click="toggle = !toggle;followUser(user.username)"
              >
                <span ng-hide="toggle">Follow</span>
                <span ng-show="toggle">Following</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div ng-repeat="comment in comments.properties">
        <!-- add delete post glypcon -->
        <div class="row">
          <h6 class="font-weight-bold col-sm-8">{{ comment.author }}</h6>
          <p>{{ comment.date }}</p>
        </div>
        <p>{{ comment.content }}</p>
        <div class="row">
          <!-- delete -->
          <a
            class="genericButton col-sm-1"
            value="{{ comment._id }}"
            href="/#!delete-comment/{{ comment._id }}"
          >
            <i class="far fa-trash-alt"> </i>
          </a>
          <!-- comment -->
          <a class="genericButton col-sm-1" ng-click="hideForm = !hideForm">
            <i class="far fa-comment"></i
          ></a>
          <!-- favorite -->
          <button
            class="genericButton col-sm-1"
            ng-controller="addToFavoriteCtrl"
          >
            {{ comment.favorited }}
            <i
              class="far fa-heart"
              aria-hidden="true"
              ng-click="save(comment._id)"
            ></i>
          </button>
        </div>
        <div>
          <div ng-show="hideForm" ng-controller="addReplyController">
            <div class="" ng-repeat="reply in comment.replies track by $index">
              <p class="replySection w-75">{{ reply }}</p>
            </div>
            <div class="">
              <input
                class="form-group my-3 form-control w-75"
                ng-model="userComment"
                placeholder="comment..."
              />
              <a
                href="/#!home"
                ng-click="addComment(comment._id,userComment)"
                class="btn btn-primary btn-sm"
                >Add Comment</a
              >
            </div>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>
