<div
  class="container-fluid"
  ng-controller="loginCtrl"
  style="background-image: url(./images/birdWallpaper.jpg);height: 100vh"
>
  <nav class="navbar navbar-light bg-light fixed-top col-sm-12">
    <a class="navbar-brand" href="#">
      <img
        src="../images/twitter.svg"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      Bird Bird 鸟
    </a>
  </nav>
  <div
    class=" vertical-center text-center  justify-content-center align-items-center"
  >
    <form>
      <div class="">
        <div class="input-group-prepend  form-group">
          <div class="input-group-text w-50">@</div>
          <input
            type="name"
            class="w-100"
            name="userNameTag"
            ng-model="userName"
            value="josiah"
            required
          />
        </div>
        <div class="form-group">
          <a
            ng-click="save()"
            class="btn  btn-primary w-100 rounded-pill"
            href="/#!home"
            style="margin:20px;"
            >Login</a
          >
          <a
            ng-click="save()"
            class="btn  btn-danger w-100 rounded-pill"
            href="/#!register"
            style="margin:20px;"
            >Register</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
