<link rel="stylesheet" type="text/css" href="../stylesheets/style.css" />
<nav class="navbar navbar-light bg-light fixed-top col-sm-12">
  <a class="navbar-brand" href="#">BootLeg Twitter</a>
</nav>
<div class=" container" style="background:white;min-height:100vh">
  <div class="row ">
    <div class="col-4  text-center justify-content-center align-items-center">
      <img class="card-img-top userPicture" src="../images/youngLonzo.jpg" />
      <br />
      <h5 class="font-weight-bold">@{{ username }}</h5>
      <br />
      <a class="btn  btn-outline-primary w-50  rounded-pill" href="/#!home"
        >Home</a
      >
      <a
        class="btn  btn-outline-primary w-50 rounded-pill"
        href="/#!add-comment"
        style="margin:20px;"
        >Post</a
      >
    </div>
  </div>
</div>
