.stars-container {
 position: relative;
 display: inline-block;
 color: transparent;
 font-size: 1.5rem;
}
.stars-container:before{
 position: absolute;
 top: 0;
 left: 0;
content: "★★★★★";
color:lightgray;
}
.stars-container:after {
 position: absolute;
 top: 0;
 left: 0;
 content: "★★★★★";
 color: gold;
 overflow: hidden;
}
.1:after { width: 10%; }
.5:after { width: 50%; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.checked {
  color: yellow;
}
.backgroundColor{
background-color:#FFE6E8;
}
